{{#resume.basics}}
	<header id="header" class="clear">
    <div id="person">
  		<div id="name">
  			<h1 class="name">{{name}}</h1>
  			<h2 class="label">{{label}}</h2>
  		</div>
  		<div id="contact">
        {{#if location}}
        <div class="location">
          <span class="fas fa-map-marker-alt"></span>
          <span>{{location}}</span>
        </div>
        {{/if}}
  			{{#if website}}
  			<div class="website">
  				<span class="fas fa-external-link-alt"></span>
  				<a class="hide-href-print" target="_blank" target="_blank" href="{{website}}">{{website}}</a>
  			</div>
  			{{/if}}
  			{{#if email}}
  			<div class="email">
  				<span class="far fa-envelope"></span>
  				<a class="hide-href-print" href="mailto:{{email}}">{{email}}</a>
  			</div>
  			{{/if}}
  			{{#if phone}}
  			<div class="phone">
  				<span class="fas fa-mobile-alt"></span>
  				<a class="hide-href-print" href="tel:{{phone}}">{{phone}}</a>
  			</div>
  			{{/if}}
        {{#if profiles.length}}
        <div id="profiles">
          {{#each profiles}}
          <span class="item">
            {{#if network}}
            <span class="username">
              <span class="fab fa-{{spaceToDash network}} {{spaceToDash network}} social"></span>
              {{#if url}}
              <span class="url">
                <a target="_blank" href="{{url}}">{{username}}</a>
              </span>
              {{else}}
              <span>{{username}}</span>
              {{/if}}
            </span>
            {{/if}}
          </span>
          {{/each}}
        </div>
		    {{/if}}
  		</div>
    </div>
	</header>

	{{#if summary}}
	<section class="section">
		<section class="main-summary">
			<div>{{markdownRender summary}}</div>
		</section>
	</section>
	{{/if}}
	{{#if citizenship}}
	{{markdownRender citizenship}}
	{{/if}}
	{{#if languages}}
	{{markdownRender languages}}
	{{/if}}
	

{{/resume.basics}}
